* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono Variable', monospace;
}

.container {
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  
}

form {
  margin-top: 200px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid gray;
}


ul {
  list-style: none;
  margin-top: 10px !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

h8 {
  font-size: 12px;
  display: block;
  font-style: italic;
  border: 1px solid;
  border-right: 0;
  border-bottom: 0;
  width: fit-content;
  padding: 0px 5px;
  border-radius: 5px;
}

.FrontEnd {
  color: blue;
  border-color: blue;
}

.BackEnd {
  color: green;
  border-color: green;
}

.FullStack {
  color: purple;
  border-color: purple;
}

.UIUX {
  color: rgb(155, 103, 7);
  border-color: rgb(155, 103, 7);
}

.Anything {
  color: gray;
  border-color: gray;
}

.article-head {
  background-color: lightgray;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.head-text {
  cursor: pointer;
  line-height: 0%;
  color: gray !important;
  font-style: italic;
}

.active {
  color: black !important;
  font-weight: bold;
}

.head-text:hover {
  color: black !important;
  font-weight: bold;
}

.btn-delete {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

  position: relative;
  left: 16px;
  top: 10px;
}

