* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
}

.container {
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  
}


ul {
  list-style: none;
  margin-top: 20px !important;
}

.article {
  background-color: lightgray;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}